.Cart {
  padding: 0;
}

.totalCost {
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.Cart .totalCost-wrapper {
  color: white;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 15px 0px 15px;
  font-weight: 600;
  font-size: 125%;
  background-color: rgba(101, 103, 105, 0.897);
}

.Cart .totalCost-wrapper h5 {
  margin: 0;
}

.Cart h4 {
  margin: 0;
  padding: 25px 0px 25px;
  background-color: #b8b8b85c;
}

.Cart .number-of-items-in-cart {
  font-size: 80%;
}

.Cart ul {
  margin: 5px 0px 5px 0px;
  padding: 0;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
}
