.CartItem {
  list-style: none;
  padding: 0;
  padding: 5px 15px 35px;
  margin: 5px;
  border: 5px outset darkgray;
  max-width: 250px;
  width: -webkit-fill-available;
  background-color: rgba(153, 140, 139, 0.349);
}

.CartItem button {
  cursor: pointer;
  color: white;
  font-size: 125%;
  border-color: silver;
  background-color: #9e1010;
  padding: 15px;
  outline-offset: -5px;
  outline: black 3px solid;
}

.CartItem button:hover {
  background-color: #c71010;
}

.CartItem button:active {
  border-color: red;
}
