.NavBar {
  background-color: rgba(61, 61, 61, 0.685);
  padding: 10px 5px 15px 5px;
}

.NavBar ul {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
}

.NavBar li {
  position: relative;
  right: 5px;
  margin: 10px;
}

.NavBar .page-link {
  text-decoration: none;
  color: gray;
}

.NavBar .page-link:hover {
  color: white;
}

.number-of-items-in-cart {
  margin: 0;
}

.number-of-items-in-cart span {
  font-weight: 800;
}
