.NavBar {
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: rgba(101, 103, 105, 0.897);
  
  /* padding: 10px 5px 15px 5px; */
}

.NavBar ul {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
}

.NavBar li {
  position: relative;
  right: 5px;
  margin: 10px;
}

.NavBar .page-link {
  text-decoration: none;
  color: lightgray;
}

.NavBar .page-link:hover {
  color: white;
}

p.number-of-items-in-cart {
  margin: 0;
  padding: 3px 10px;
  background: rgba(25, 190, 182, 0.897);
  border: 0px solid white;
  border-radius: 100%;
}

.number-of-items-in-cart span {
  font-weight: 800;
}
