.ProductsPage {

}

.totalCost {
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.ProductsPage .totalCost-wrapper {
  display: flex;
  justify-content: space-evenly;
  color: white;
  position: sticky;
  top: 62px;
  margin: 0;
  padding: 15px 0px 15px;
  font-weight: 600;
  font-size: 125%;
  background-color: rgba(61, 61, 61, 0.9);
}

.ProductsPage .totalCost-wrapper h5 {
  margin: 0;
}

.ProductsPage .number-of-items-in-cart {
  font-size: 80%;
}

.ProductsPage h4 {
  margin: 0;
  padding: 25px 0px 25px;
  background-color: #b8b8b85c;
}

.ProductsPage ul {
  padding: 0;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
}
